
:root {
  --primary: #D5EBD1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #260F0F;
  --border-radius: 0.3rem;
}


.display-column {
  background-color: var(--dark);
}

.li-inline {
  display: inline;
}

.navbar {
  width: auto;
  position:fixed;
}

.nav-item {
  margin: 0 10px;
  
}

.nav-item a {
  color: var(--primary);
}

.firstTitle {
  margin-top: 20px;
}



.blog {
  border: solid 3px;
  background-color:var(--primary);

}

.postTitle{
  
  width: 100%;
  background-color: var(--dark);
  color: #1b89bc;

}




.mainContainer{
  background-color: var(--primary);
}



.footer{
  margin-top: 500px;
}


.col-md-6{
  border: solid 3px;
  padding: 6px;
  border-color: #260F0F; 
}

.col-md-6 h2 {
  background-color: #260F0F;
  color: #1b89bc;
  width: 100%;
  margin-right: -50px;
}

#blogs{
  border:  #260F0F solid;
  margin-bottom: 20px;
  
}

#blogs p{
  
 margin-left:50px;   
  
}


.commentBox{
  border:#260F0F solid;
  flex-wrap: wrap;
  margin-top: 20px;
  
  
}


.commentBox h5{
  background-color:#260F0F;
  color: #1b89bc;
  border:0px  !important;
}

.new-comment{
  margin-left: 6px;
  margin-bottom: 4px;
}


.post-list{
  margin-top: 20px;
  
}

#comment{
  
  border:none;
}
.card-body{

  background-color:white;
  padding-block-start: 20px;
  width: 100%;
  border:solid #260F0F;
  
}


.form-input {
  background-color: #260F0F;
  
}

.edit-post-form{
  border: #260F0F solid 3px ;
 margin-top: 0px;
}


.my-3 {
  padding-left: 6px;
}

.btn-primary{
  margin-top: 6px;
}

@media screen and (min-width: 640px) {
  .post-list{
    margin-top: 1px;
   
  }

  
  
}